<div class="activity-stream-container">
	<div class="activity new" ng-show="authenticated">
		<a href="">
			<div class="icon">
				<i ng-hide="isSubmitBusy" class="fa fa-certificate"></i>
				<i ng-show="isSubmitBusy" class="fa fa-refresh fa-spin"></i>
			</div>
		</a>

		<div class="body" ng-show="isSubmitBusy">
			<p>Processing your shit, please wait...</p>
		</div>

		<div class="body" ng-hide="isSubmitBusy">
			<input class="form-control title" placeholder="Title..." ng-model="newActivityVM.title" />
			<textarea class="form-control content" ng-model="newActivityVM.content" placeholder="Your content..."></textarea>
		</div>

		<div class="footer">
			<button class="btn btn-success btn-sm" ng-click="submitPost()">Post</button>
		</div>
	</div>

	<sl-activity ng-repeat="activity in activities" model="activity"></sl-activity>

	<div class="activity loading" ng-show="isStreamBusy">
		<div class="icon">
			<a href="">
				<i class="fa fa-refresh fa-spin"></i>
			</a>
		</div>
		<div class="body">
			<h4>Loading stream, please wait...</h4>
		</div>
	</div>
</div>
