<div class="activity" ng-hide="removed">

	<a ng-href="/posts/{{model.uid}}">
		<div class="icon">
			<i class="fa {{ model.type | activityIconFilter }}"></i>
		</div>
	</a>

	<div class="body">
		<h4 class="title" ng-hide="isLink" ng-bind="model.title"></h4>
		<h4 class="title" ng-show="isLink">
			<a href="{{ model.customPayload }}" ng-bind-html="model.title + '&#8594;'" ng-click="trackClick()" target="_blank"></a>
		</h4>
		<div ng-bind-html="renderHtmlBody()"></div>
	</div>

	<div class="footer">
		<i class="fa fa-eye"></i> {{ model.hitCount }} views
		<i class="fa fa-clock-o"></i> <time is="relative-time" datetime="{{model.date}}">{{ renderDate() }}</time>

		<div class="actions">
			<a ng-show="isAuthenticated" ng-click="delete()" href="" class="action">
				<i class="fa fa-trash"></i>
				Delete
			</a>
		</div>
	</div>

</div>
