<div class="activity-stream-container">

	<div class="activity new" ng-show="authenticated">
		<a href="">
			<div class="icon">
				<i class="fa fa-certificate"></i>
			</div>
		</a>

		<div class="body">
			<input class="form-control title" placeholder="Title..." ng-model="newActivityVM.title" />
			<textarea class="form-control content" ng-model="newActivityVM.content" placeholder="Your content..."></textarea>
		</div>

		<div class="footer">
			<button class="btn btn-success btn-sm" ng-click="submitPost()">Post</button>
		</div>
	</div>

	<sl-activity ng-repeat="activity in activities" model="activity"></sl-activity>
</div>

<div class="row fetch-more">

</div>

<div class="row loading-notification" ng-show="isStreamBusy">
	<div class="col-md-12">
		<p>
			<i class="fa fa-refresh fa-spin"></i>
			Loading stream, please wait...
		</p>
	</div>
</div>
