activity-sub-content = #888

.activity-stream-container
	position: relative
	width: inherit

.activity-stream-container:before
	display: block
	content: ""
	position: absolute
	top: 0
	bottom: 0
	//left: 79px;
	left: 23px
	width: 2px
	background-color: #F3F3F3
	z-index: -1

.activity
	position: relative
	padding-left: 64px
	padding-bottom: 20px
	margin-top: 25px
	margin-bottom: 25px
	//border-top: 2px solid #FFF;
	//border-bottom: 2px solid #FFF;

.activity .icon
	float: left
	margin-left: -64px
	border-radius: 48px
	width: 48px
	height: 48px
	background-color: #F7F7F7

.activity .icon i
	color: #777
	font-size: 24px
	margin-top: 12px
	margin-left: 14px
	display: inline-block
	line-height: 24px
	text-align: center
	vertical-align: baseline

.activity .body:before
	border-right-color: #DDD
	border-width: 8px

.activity .body:after
	border-width: 7px
	border-right-color: #F7F7F7
	margin-top: 1px
	margin-left: 2px

.activity .body h4.title a
	font-size: 18px

.activity .body
	background: #FFF
	min-height: 50px

.activity .footer
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif
	font-size: 12px
	font-weight: normal
	margin-top: 6px
	color: activity-sub-content

.activity .footer time
	font-size: 12px

.activity .footer i,
.activity .footer time
	color: activity-sub-content

.activity .footer .actions
	display: inline-block

.activity .footer a.action
	margin-left: 6px
	font-size: 12px
	color: activity-sub-content

.action .footer a.action:hover
	text-decoration: none!important

.activity .video-container
	position: relative
	padding-bottom: 56.25%
	height: 0
	overflow: hidden

.activity .video-container iframe
	width: 100%
	height: 100%
	position: absolute

.activity .image-container img
	width: 100%

// New Activity block
.activity.new input.title
	font-size: 16px
	border: none
	border-radius: 0
	margin-bottom: 10px
	width: 100%
	box-shadow: none
	transition: none
	padding-left: 0

.activity.new button span
	color: #fff

.activity.new textarea.content
	resize: none
	min-height: 100px

.activity.new textarea.content.upload
	border-bottom: none
	border-bottom-left-radius: 0
	border-bottom-right-radius: 0

.activity.new .upload-progress
	color: #fff

.activity.new .upload-progress i
	margin-right: 6px
	color: #fff

.activity.new .upload-info
	margin-bottom: 4px
	padding: 6px 4px 0 6px

	border: 1px solid #cacaca
	border-radius: 0 0 5px 5px
	border-top-style: dashed

	color: activity-sub-content

.activity.new .image-actions
	float: right
	margin-right: 6px

.activity.new .image-actions a:hover
	text-decoration: none!important

.activity.new .image-actions a.delete,
.activity.new .image-actions a.delete i
	color: #B20000
