.sl-image-upload
	border: 2px dashed #cacaca
	border-radius: 4px
	width: 100%
	height: auto
	text-align: center
	background: #fff
	min-height: 100px
	background-position: center center
	background-size: cover

.sl-image-upload:before
	font-family: "FontAwesome"
	content: "\f0ee"
	font-size: 48px
	color: #e7e6db
	vertical-align: initial

.sl-image-upload.image-selected:before
	content: "\f00c"

.sl-image-upload a,
.sl-image-upload a:hover
	color: #fff
	text-shadow: 0 1px 6px rgba(0,0,0,0.5)
	text-decoration: none
