picture-radius = 3px

.sl-profile
	margin-top: -70px
	margin-bottom: 50px
	background: #fff
	border: 1px solid
	border-color: #e9eaed #dadada #ccc
	border-radius: picture-radius
	border-bottom-width: 2px

.sl-profile .picture
	background: no-repeat center center
	background-image: url('https://i1.sndcdn.com/avatars-000101185296-rqra0g-t500x500.jpg?e76cf77')
	background-size: cover
	height: 100px
	width: 100px
	border-radius: picture-radius 0 0 picture-radius

.sl-profile h4
	font-weight: lighter
	margin-bottom: 4px

.sl-profile p.slug
	color: #888

.sl-profile .social-media ul
	list-style: none
	margin: 0
	padding: 0

.sl-profile .social-media ul li
	margin-right: 6px

.sl-profile .social-media i
	font-size: 24px
	transition: color 0.25s ease-in
	-webkit-transition: color 0.25s ease-in

.sl-profile .social-media a.twitter i:hover
	color: #55acee
